<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MaklarServiceTestCases" parallel="methods" >
<listeners>
<listener class-name="maklarpages.TestAllureListener"/>
</listeners>
  <test thread-count="5" name="ContactPageTestCases" junit="true">
  <parameter name="ContactPageTestCases" value="">
    <classes>
      <class name="testmaklarpages.TestAboutUsPage"/>
      
    </classes>
    </parameter>
  </test> 
  
  
  <test thread-count="5" name="HomePageTestCase" junit="true">
  <parameter name="HomePageTestCase" value="">
    <classes>
      <class name="testmaklarpages.TestHomePage"/>    
    </classes>
    </parameter>
  </test> <!-- junittest -->
  
  <test thread-count="5" name="checkFileUploadOnPaymentPageTestCase1" junit="true">
  <parameter name="PaymentPageTestCase1" value="">
    <classes>
      <class name="testmaklarpages.TestPaymentPage"/>    
    </classes>
    </parameter>
  </test> <!-- junittest -->
   
</suite> <!-- Suite -->
